
<p>
  <mat-toolbar>
    <span>Wakfu Sublimation Calculator</span>
  </mat-toolbar>
</p>

<mat-card>
  <mat-card-content>Rune Selector</mat-card-content>
<div>
    <div class="socket-div">
      <mat-form-field>
      <mat-label>Socket 1</mat-label>
      <mat-select [(ngModel)]="socketValueOne" id="socket-select-1" class="socket-select">
        <mat-option value=3>Red</mat-option>
        <mat-option value=5>Blue</mat-option>
        <mat-option value=7>Green</mat-option>
        <mat-option value=1>Yellow</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <div class="socket-div">
      <mat-form-field>
      <mat-label>Socket 2</mat-label>
      <mat-select [(ngModel)]="socketValueTwo" id="socket-select-2" class="socket-select">
        <mat-option value=3>Red</mat-option>
        <mat-option value=5>Blue</mat-option>
        <mat-option value=7>Green</mat-option>
        <mat-option value=1>Yellow</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <div class="socket-div">
      <mat-form-field>
      <mat-label>Socket 3</mat-label>
      <mat-select [(ngModel)]="socketValueThree" id="socket-select-3" class="socket-select">
        <mat-option value=3>Red</mat-option>
        <mat-option value=5>Blue</mat-option>
        <mat-option value=7>Green</mat-option>
        <mat-option value=1>Yellow</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <div class="socket-div">
      <mat-form-field>
      <mat-label>Socket 4</mat-label>
      <mat-select [(ngModel)]="socketValueFour" id="socket-select-4" class="socket-select">
        <mat-option value=3>Red</mat-option>
        <mat-option value=5>Blue</mat-option>
        <mat-option value=7>Green</mat-option>
        <mat-option value=1>Yellow</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

  </div>

  <mat-card-content>

    <div>
      <button mat-raised-button color="accent" class="socket-button" (click)="submitFilter(false)">Submit</button>
    </div>

    <div>
      <button mat-raised-button color="primary" class="socket-button" (click)="submitFilter(true)">Reset Selection</button>
    </div>

  </mat-card-content>

</mat-card>

<mat-card>
  <mat-card-content>
<table mat-table [dataSource]="sublimations" class="tableCards">

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let sublimation"> {{sublimation.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Socket1">
    <th mat-header-cell *matHeaderCellDef> Socket1 </th>
    <td mat-cell *matCellDef="let element"> {{element.Socket1}} </td>
  </ng-container>

  <ng-container matColumnDef="Socket2">
    <th mat-header-cell *matHeaderCellDef> Socket2 </th>
    <td mat-cell *matCellDef="let element"> {{element.Socket2}} </td>
  </ng-container>

  <ng-container matColumnDef="Socket3">
    <th mat-header-cell *matHeaderCellDef> Socket3 </th>
    <td mat-cell *matCellDef="let element"> {{element.Socket3}} </td>
  </ng-container>

  <ng-container matColumnDef="I (Rare)">
    <th mat-header-cell *matHeaderCellDef> I (Rare) </th>
    <td mat-cell *matCellDef="let element"> {{element['I (Rare)']}} </td>
  </ng-container>

  <ng-container matColumnDef="II (Mythical)">
    <th mat-header-cell *matHeaderCellDef> II (Mythical) </th>
    <td mat-cell *matCellDef="let element"> {{element['II (Mythical)']}} </td>
  </ng-container>

  <ng-container matColumnDef="III (Legendary)">
    <th mat-header-cell *matHeaderCellDef> III Legendary </th>
    <td mat-cell *matCellDef="let element"> {{element['III (Legendary)']}} </td>
  </ng-container>

  <ng-container matColumnDef="MaxLevel">
    <th mat-header-cell *matHeaderCellDef> MaxLevel </th>
    <td mat-cell *matCellDef="let element"> {{element.MaxLevel}} </td>
  </ng-container>

  <ng-container matColumnDef="ObtainedFrom">
    <th mat-header-cell *matHeaderCellDef> ObtainedFrom </th>
    <td mat-cell *matCellDef="let element"> {{element.ObtainedFrom}} </td>
  </ng-container>

  <ng-container matColumnDef="SincePatch">
    <th mat-header-cell *matHeaderCellDef> SincePatch </th>
    <td mat-cell *matCellDef="let element"> {{element.SincePatch}} </td>
  </ng-container>

  <ng-container matColumnDef="Notes">
    <th mat-header-cell *matHeaderCellDef> Notes </th>
    <td mat-cell *matCellDef="let element"> {{element.Notes}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</mat-card-content>

</mat-card>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
